<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DiaryDao">


	<insert id="insertDiary" parameterType="diaryVo">
		insert into DIARY
		(DIARY_SEQ, DIARY_TITLE, DIARY_CONTENT,DIARY_REG_DAY, DIARY_OPEN, MEMBER_SEQ,)
		values
		(DIARY_SEQ.nextval, #{diaryTitle}, #{diaryContent}, SYSDATE, #{diaryOpen},
		(select MEMBER_SEQ from MEMBER where MEMBER_SEQ = #{memberSeq}) )
	</insert>	
	
	<update id="updateDiary" parameterType="HashMap">
		update DIARY set
		DIARY_TITLE = #{diaryTitle}, DIARY_CONTENT = #{diaryContent} where DIARY_SEQ =
		#{diarydSeq}
	</update>

	<delete id="deleteDiary" parameterType="HashMap">
		delete from DIARY
		where DIARY_SEQ = #{diarySeq} and MEMBER_SEQ = #{memberSeq}
	</delete>

	<!-- memberseq 의 게시글 목록 -->
	<select id="DiaryList" parameterType="com.group.exam.utils.Criteria"
		resultType="com.group.exam.diary.command.DiaryListCommand">
	
<![CDATA[select *
from (select ROWNUM rn, D.DIARY_SEQ,
D.DIARY_TITLE, to_char(D.DAIRY_REG_DAY, 'yyyy.mm.dd') DIARY_REG_DAY, B.BOARD_LIKE, B.BOARD_COUNT,
D.DIRAY_OPEN, M.MEMBER_NICKNAME, M.MEMBER_SEQ  
from MEMBER M join DIARY D on M.MEMBER_SEQ = D.MEMBER_SEQ 
where M.member_seq = #{memberSeq}) where rn between #{rowStart} and #{rowEnd}
]]>
	</select>



	<select id="diaryDetail" parameterType="Integer"
		resultType="com.group.exam.diary.command.DiarylistCommand">

<![CDATA[select D.DIARY_SEQ, D.DIARY_TITLE, to_char(D.DAIRY_REG_DAY, 'yyyy.mm.dd') DIARY_REG_DAY,D.DIARY_LIKE, D.DAIARY_COUNT, D.DIARY_CONTENT, 
M.MEMBER_NICKNAME, M.MEMBER_SEQ
from MEMBER M join DIARY D on M.MEMBER_SEQ = D.MEMBER_SEQ where D.DIARY_SEQ = #{diarySeq}]]>

	</select>
	
		<!-- diary 조회수 up -->
	<update id="diaryCountup" parameterType="Integer">
		update DIARY set
		DIARY_COUNT = DIARY_COUNT+1 where DIARY_SEQ = #{diarySeq}
	</update>
	

</mapper>